<header class="header" id="header-nav">
  <nav class="container-fluid">
    <ul class="pull-left list-inline header-nav">
      <li>
        <a href="#link" class="logo">
          Dignity Health
        </a>
      </li>
    </ul>
    <ul class="pull-right list-inline header-nav right-navigation">
      <li class="user">
        <a>
          <span class="icon-size-18"><i class="fa fa-search"></i></span>
         <p>Search</p>
        </a>
      </li>
      <li class="user">
        <a>
          <span class="icon-size-18"><i class="fa fa-user"></i></span>
         <p>Admin</p>
        </a>
      </li>
      <li class="user">
        <a>
          <span class="icon-size-18"><i class="fa fa-sign-out"></i></span>
         <p>Logout</p>
        </a>
      </li>
    </ul>
  </nav>
  <app-navigation></app-navigation>
</header>