<div class="dn-nav">
<nav class="navbar navbar-default">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
      <li><a routerLink="/whitelist-domains" routerLinkActive="active">Whitelist Domains</a></li>
      <li><a routerLink="/whitelist-emails" routerLinkActive="active">Whitelist Emails</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">
      <li><a><i class="fa fa-cog fa-spin fa-fw"></i> Settings</a></li>
      <li><a><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>-->
  </div>
</nav>
</div>
